@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  overflow-x: hidden;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-btn.ant-btn-sm {
  background-color: #16a34a !important;
  color: #fff;
}
